body {
    background: #000115;
    height:100%;
}

h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 65px;
    display:flex;
    justify-content:center;
    align-items:center;
}
footer {
    display:flex;
    justify-content:center;
    align-items:center;
    color: rgba(255, 255, 255, 0.8);
}

.pac-man {
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 8em;
    border-radius: 100em 100em 0 0;
    background: #f00;
    transform-origin: bottom;
    animation: eating-top .5s infinite;

}

.pac-man, .pac-man::before {
    width: 70px;
    height: calc(35px);
    background: #fed75a;
}

.pac-man::before {
    content: '';
    display: block;
    margin-top: calc(35px);
    position: absolute;
    transform-origin: top;
    border-radius: 0 0 100em 100em;
    transform: rotate(80deg);
    animation: eating-bottom .5s infinite;
}
.pac-man::after {
    position: absolute;
    border-radius: 100em;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    margin-top: calc(25px);
    margin-left: calc(25px);
    transform-origin: center;
    animation: center .5s infinite, ball .5s -0.33s infinite linear;
}